<h3>Workshops and other events</h3>
<% @workshops.each do |w| %>
  <div class="row-fluid">
    <h4><%= link_to w.title, workshop_path(w) %><%= link_to "Apply for this workshop", apply_for_workshop_path(w), :class => 'btn btn-primary pull-right' %></h4>
    <% if ((w.end_date - w.start_date) / 1.day).round <= 0 %>
      <h5><%= w.end_date.getlocal.strftime("%B %e, %Y") %></h5>
    <% else %>
      <h5><%= w.start_date.getlocal.strftime("%B %e at %I:%M %P") %> - <%= w.end_date.getlocal.strftime("%B %e at %I:%M %P") %></h5>
    <% end %>
    <p><%= raw(w.description) %></p>
    <%= link_to "Workshop Details", workshop_path(w), :class => 'btn btn-primary pull-right' %>
  </div>
<% end %>