<h3><%= @workshop.title %></h3>
<div class="row-fluid">
  <div class="span3 pull-right offset1">
    <% if user_signed_in? && current_user.has_role?(:admin) && !@sponsor_array.empty? %>
    	<%= simple_form_for(@workshop, :url => add_sponsor_to_workshop_path, :html => {:class => 'form-horizontal form-validate' }) do |f| %>
    		<%= f.error_notification %>
    		<%= hidden_field_tag :workshop_id, @workshop.id %>
    		<%= select_tag :sponsor_id, options_for_select(@sponsor_array), {:class => "span12"} %>
    		<%= f.button :submit, "Add sponsor to workshop", :class => "btn btn-primary" %>
    	<% end %>
    <% end %>
    <h4>Address</h4>
    <%= raw(@workshop.address) %>
  	<h4>Sponsors</h4>
  	<ul class="unstyled">
  		<% @sponsors.each do |sponsor| %>
  			<li><h5><%= link_to image_tag(sponsor.logo.url(:small)), sponsor.website, :class => 'sponsor' %></h5></li>
  		<% end %>
  	</ul>
  </div>
  <div class="span8">
    <div class="row-fluid">
      <div class="pull-right span3">
        <%= link_to "Apply for this workshop", apply_for_workshop_path(@workshop), :class => 'btn btn-primary' %>
        <%= link_to "Add agenda item", new_workshop_agenda_item_path(@workshop), :class => 'btn btn-primary' if current_user.has_role?(:admin) %>
      </div>
      <p><%= raw(@workshop.description) %></p>  
    </div>
    <% @agenda_items.each do |item| %>
      <div class="row-fluid">
        <div class="span3">
          <h4><%= item.start.strftime("%I:%M %P") %> - <%= item.end_time.strftime("%I:%M %P") %></h4>
        </div>
        <div class="span9">
          <h4><%= item.title %></h4>
          <p><%= raw(item.description) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
