<h3><%= @workshop.title %></h3>
<div class="row-fluid">
  <div class="span3 pull-right offset1">
    <% if user_signed_in? && current_user.has_role?(:admin) && !@sponsor_array.empty? %>
    	<%= simple_form_for(@workshop, :url => add_sponsor_to_workshop_path, :html => {:class => 'form-horizontal form-validate' }) do |f| %>
    		<%= f.error_notification %>
    		<%= hidden_field_tag :workshop_id, @workshop.id %>
    		<%= select_tag :sponsor_id, options_for_select(@sponsor_array), {:class => "span12"} %>
    		<%= f.button :submit, "Add sponsor to workshop", :class => "btn btn-primary" %>
    	<% end %>
    <% end %>
  	<h4>Sponsors</h4>
  	<ul class="unstyled">
  		<% @sponsors.each do |sponsor| %>
  			<li><h5><%= link_to image_tag(sponsor.logo.url(:small)), sponsor.website %></h5></li>
  		<% end %>
  	</ul>
  </div>
  <div class="span8">
  	<p><%= raw(@workshop.description) %></p>
    <%= link_to "Apply for this workshop", apply_for_workshop_path(@workshop), :class => 'btn btn-primary pull-right' %>
  </div>
</div>
