<h3>Add an Agenda item for <%= @workshop.title %></h3>
<%= simple_form_for([@workshop, @agenda_item], :html => {:class => 'form-horizontal form-validate' }) do |f| %>
  <%= f.error_notification %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.input_field :title, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, cols:40, rows:5, :class => 'input-xxlarge' %>
    </div>
  </div>
  <fieldset>
    <legend>Dates
      <div class="control-group">
        <%= f.label :start, "Start date (dd/mm/yyy): ", :class => "control-label" %>
        <div class="controls">
          <div id="start_date_field" class="input-append">
            <%= f.text_field :start, :value => Time.now.strftime("%m/%d/%Y %I:%M %p"), 'data-format' => 'MM/dd/yyyy HH:mm PP', :class => "input-block-level" %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar">
              </i>
            </span> 
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :end_time, "End date (dd/mm/yyy): ", :class => "control-label" %>
        <div class="controls">
          <div id="end_date_field" class="input-append">
            <%= f.text_field :end_time, :value => Time.now.strftime("%m/%d/%Y %I:%M %p"), 'data-format' => 'MM/dd/yyyy HH:mm PP', :class => "input-block-level" %>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar">
              </i>
            </span> 
          </div>
        </div>
      </div>
    </legend>
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit, 'Add Agenda item', :class => 'btn btn-primary' %>
  </div>
<% end %>