<%= div_for(workshops, :class => 'row-fluid') do |w| %>
  <h4><%= w.title %></h4>
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Name</th>
        <th>TShirt Size</th>
        <th>Registered</th>
        <th>Accepted?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% w.applications.each do |app| %>
      <tr>
        <td><%= link_to app.user.name, app.user %></td>
        <td><%= app.user.shirt_size %></td>
        <td><%= app.created_at.to_date %></td>
        <td><%= app.user.roles.first.name %></td>
        <td><%= link_to "Application", application_path(app) %></td>
        <td><%= link_to raw("<i class='fa fa-trash-o'></i>"), application_path(app), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>