<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Phone: <%= @user.phone %></p>
<p>Twitter: <a href="http://twitter.com/<%= @user.twitter.tr('@','') %>"><%= @user.twitter %></a></p>
<p>Github: <a href="https://github.com/<%= @user.github %>"><%= @user.github %></a></p>
<p>Operating System: <%= @user.os %></p>
<p>T-Shirt size: <%= @user.shirt_size %></p>
