<% content_for :masthead do %>
  <header id="main-header">
  	<div class="container">
  	  <div class="row">
  	   <div class="span12">
  	      <%= image_tag("RG_LogoFinal.png", :class => "header-image") %>
  	    </div> 
  	  </div>
  	</div>
  </header>
<% end %>
<section id="landing">
  <div class="container">
    <h3>Improving opportunities for women in technology</h3>
  </div>
</section>
<div class="container">
  <div class="row-fluid">
    <div class="span3 pull-right offset1">
      <h4>Next event</h4>
      <h5><%= link_to @next.title, workshop_path(@next) %></h5>
      <% if ((@next.end_date - @next.start_date) / 1.day).round <= 0 %>
        <h5><%= @next.end_date.strftime("%B %e, %Y") %></h5>
      <% else %>
        <h5><%= @next.start_date.strftime("%B %e") %> - <%= @next.end_date.strftime("%e, %Y") %></h5>
      <% end %>
      <%= link_to "Apply for this workshop", new_application_path(:workshop_id => @next.id), :class => 'btn btn-primary' %>
    </div>
    <div class="span8">
      <p>Rails Girls events are non-profit. We don’t charge the participants and do not pay for coaches or speakers. Participants don’t need any previous knowledge about programming and there are no age limitations. All the participants need is a laptop and some curiosity.</p>
      <p>The two-day event includes a lot of small group working and short focused talks on programming, design and web. </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2>Sponsored in part by</h2>
      <% @sponsors.each do |s| %>
        <div class="span3">
          <h3 class="sponsor"><%= link_to image_tag(s.logo.url(:medium)), sponsor_path(s) %></h3>
        </div>
      <% end %>  
    </div>
  </div>
</div>
