<div class="row-fluid">
  <h2><%= @sponsor.name %> <small>proudly sponsors Rails Girls Athens</small></h2>
</div>
<div class="row-fluid">
  <div class="span4 pull-right">
    <h5>Contact</h5>
      <p><%= raw(@sponsor.address) %></p>
      <%= link_to "Website", @sponsor.website, :class => "btn btn-primary" %>
  </div>
  <div class="span7">
    <%= image_tag(@sponsor.logo.url(:medium), :class => "pull-left") %><p class="offset1"><%= @sponsor.description %></p>
  </div>
</div>
