<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit password', edit_user_registration_path %></li>
  <li><%= link_to "Update profile", users_profile_path %></li>
	<% if current_user.has_role?(:admin) %>
    <li class="divider"></li>
	  <li><%= link_to 'User Admin', users_path %></li>
    <li><%= link_to 'Applications', applications_path %></li>
	<% end %>
	<li class="divider"></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% end %>
